@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>2C2P </h1>
    <p class="lead">Code challenge!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Upload XML or CSV Files</h2>
        <p>
            @Html.ActionLink("Upload", "UploadFile", "Home")
        </p>
    </div>
    <div class="col-md-4">
        <h2>Query transactions</h2>
        @Html.ActionLink("Query", "QueryTransactions", "Home")
    </div>
</div>