
@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload File</h2>
<form name="uploadForm" >
    <p><input id="uploadInput" type="file" name="myFiles" onchange="onChange();"> total size: <span id="fileSize">0</span></p>
    <input name="Submit" type="button" value="Upload" onclick="submitFile()"/>
    <div id="response"></div>
</form>
<script>
    function onChange() {
        let nBytes = 0,
            oFiles = document.getElementById("uploadInput").files,
            nFiles = oFiles.length;
        for (let nFileId = 0; nFileId < nFiles; nFileId++) {
            nBytes += oFiles[nFileId].size;
        }
        let sOutput = nBytes + " bytes";
        
        document.getElementById("fileSize").innerHTML = sOutput;
    }

    function submitFile() {
        document.getElementById("response").innerHTML = "Uploading . . ."

        files = document.getElementById("uploadInput").files;
        len = files.length;
        file = this.files[0];

        if (file.type.match(/xml.*/)) {
            $.ajax({
                url: "../api/Transaction/xml",
                type: "POST",
                data: file,
                processData: false,
                success: function (res) {
                    document.getElementById("response").innerHTML = res;
                    alert('file uploaded successfully')
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError);
                }
            });
        }
        else if (file.type.match(/csv.*/)) {
            $.ajax({
                url: "../api/Transaction/csv",
                type: "POST",
                data: file,
                processData: false,
                success: function (res) {
                    document.getElementById("response").innerHTML = res;
                    alert('file uploaded successfully')
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
        else {
            alert('Unknown format');
        }
    }
</script>
